:root {    
    --color1-color-ffffff: #FFFFFF;
    --color2-color-000000: #000000;
    --color3-color-005b7a: #005B7A;
}
.font1{
    font-family: 'Playfair Display', serif;
}
.font2{
    font-family: 'Ubuntu', sans-serif;
    font-weight: normal;
    
}

/* font-family: 'Playfair Display', serif; */
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800&display=swap');

/* font-family: 'Ubuntu', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');