*{
  margin: 0;
  padding: 0;
}
:root {    
  --color1-wt: #FFFFFF;
  --color2-bk: #000000;
  --color3-bl: #005B7A;
  --color4-tr: #00000000;
  --color5-bl-dark: #003242;
}
/* font-family: 'Playfair Display', serif; */

/* font-family: 'Ubuntu', sans-serif; */

/* font: font-style font-variant font-weight font-size/line-height font-family; */

/* Header */

a {
  text-decoration: none;
  transition: 0.3s;
}

a:hover {
  opacity: 0.7;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font: normal normal bold 20px/24px Ubuntu;
  color: var(--color2-bk);
  letter-spacing: 0px;
  height: 14vh;
  margin: 0 80px;
}
.nav-list {
  list-style: none;
  display: flex;
}
.nav-list li {  
  margin-left: 32px;
}
.nav-list li a{
  text-decoration: none;
  color: var(--color2-bk);
}
.nav-list .dropdown li {
  font: normal normal normal 20px/35px Ubuntu;
  letter-spacing: 0px;
  margin-left: 0;
}
.nav-list .rede_social{
  margin: -10px;
}
.btn_produtos{  
  background-color: #fff;
  border: none;
  font: normal normal bold 20px/24px Ubuntu;
  letter-spacing: 0px;
}
.mobile-menu {
  display: none;
  cursor: pointer;
  margin-right: 15px;
}
.mobile-menu div {
  width: 32px;
  height: 2px;
  background: var(--color3-bl);
  margin: 8px;
  transition: 0.3s;
}

/* Dropdown-menu */
.dropdown-menu:hover{
  --bs-dropdown-link-hover-bg: var(--color3-bl);
  --bs-dropdown-link-hover-color: var(--color1-wt);
  --bs-dropdown-border-color: rgba(226, 10, 10, 0);
}
.dropdown-menu.show{
  opacity: 0.93;
  padding: 0;
  border-color: var(--color4-tr);
}





@media (max-width: 1140px) {
  body {
    overflow-x: hidden;
  }
  .nav-list {
    z-index: 999;
    position: absolute;
    top: 12vh;
    right: 0;
    width: 100vw;
    height: 40vh;
    background: var(--color5-bl-dark);
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
  }
  .btn_produtos{
    color: var(--color1-wt);
    background-color: var(--color4-tr);
  }
  .nav-list li {
    margin-left: 0;
    opacity: 0;
  }
  .nav-list li a{
    text-decoration: none;
    color: var(--color1-wt);
  }
  .mobile-menu {
    display: block;
  }
  .logo > img{
    max-width: 80%;
  }
  nav{
    margin: 0; 
  }
}

.nav-list.active {
  transform: translateX(0);
}


@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
.mobile-menu.active .line1 {
  transform: rotate(-45deg) translate(-8px, 8px);
}

.mobile-menu.active .line2 {
  opacity: 0;
}

.mobile-menu.active .line3 {
  transform: rotate(45deg) translate(-5px, -7px);
}

span:hover{
  border-bottom: solid 3px var(--color3-bl);
  padding-bottom: 0.5rem;
  transition: 0.2s;
}
.box_whatsapp{  
  background-color: #25D366;
  margin-right: 8rem;
  border-radius: 50%;
  padding: 18px;
  position: static;
  margin-top: -6rem;
}
.ft_title_solucoes{
  position: relative;
  font: normal normal normal 55px/70px Playfair Display;
  letter-spacing: 0px;
  color: var(--color1-wt);
  text-align: left;
  width: 80%; 
  top: 5.62rem;
  left: 6.5rem;
}
.ft_title_seuescritorio{
  text-align: center;
  font: normal normal bold 40px/45px Playfair Display;
  letter-spacing: 0px;
}
.ft_text_temos{
  color: #fff;
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
  font: normal normal normal 25px;
  letter-spacing: 0px;
  position: relative;
  width: 80%; 
  top: 7.62rem;
  left: 6.5rem;
}
.ft_text_converse{
  position: relative;
  top: 10.62rem;
  left: 6.5rem;
  color: #fff;
  text-align: left; 
  font: normal normal bold 20px/45px Ubuntu;
  letter-spacing: 4px;
}
.vertical_line{
  position: relative;
  top: 8.62rem;
  left: 6.5rem;
  height: 75px;
  border-left: 2px solid var(--color1-wt);
}
.ft_text_deixe{
  text-align: center;
  margin: auto;
  width: 35%; 
  font: normal normal normal 20px/35px Ubuntu;
  letter-spacing: 0px;  
}
.ft_text_vejamais{
  font: normal normal bold 20px/45px Ubuntu;
  letter-spacing: 4px;
}
.ft_title_seuescritorio{
  font: normal normal bold 40px/45px Playfair Display;
  letter-spacing: 0px;
}
.ft_text_atendendo{
  font: normal normal normal 20px/35px Ubuntu;
  letter-spacing: 0px;
  text-align: center;
  margin: 0 auto;
  width: 32%;
}
.ft_title_converse{
  font: normal normal bold 40px/45px Playfair Display;
}
.ft_text_ficou{
  font: normal normal normal 20px/35px Ubuntu;
}


/* Quadrado azul Soluções e Inspirações*/
.square_blue{
  background-color: var(--color3-bl);
  position: relative;
  width: 48.1rem;
  height: 39.3rem;
  margin: 10.3rem 0 0 0;
}


/* Botoes Converse com a gente telefone, e-mail, endereço, WhatsApp */
.square_blue_buttons{
  width: 5rem;
  height: 5rem;
  background-color: var(--color3-bl);
  border: none;
}
.ft_title_btns{
  font: normal normal bold 20px/35px Playfair Display;
  letter-spacing: 0px;
}
.ft_text_btns{
  font: normal normal normal 20px/35px Ubuntu;
  letter-spacing: 0px;
}
.icons_filter{
  filter: invert(1);
}

/* Envie uma mensagem, tarja azul */
.bg_wall{
  background-image: url(assets/imagem-contato-filtro.png);
}
.btn_submit{
  background-color: var(--color3-bl);
  width: 8rem;
  height: 3rem;
  padding: 0;
  border: none;
  color: var(--color1-wt);
  font: normal normal bold 20px/45px Ubuntu;
  letter-spacing: 4px;
}

.ft_title_contato{
  font: normal normal bold 40px/45px Playfair Display;
  letter-spacing: 0px;
  color: var(--color1-wt);
}
.ft_text_contato{
  font: normal normal normal 20px/35px Ubuntu;
  letter-spacing: 0px;
  color: var(--color1-wt);
}

/* Formulário */
.margin_formulario{
  width: 32rem;
}
.style_form{
  border-style: none;
  border-bottom: 1px solid var(--color2-bk);
}
.box_size{
  resize: none;
}

/* Footer */
.logo_footer{
  margin-left: 4rem;
  width: 16rem;
}
.copy_right{
  font: normal normal normal 20px/35px Ubuntu;
  letter-spacing: 0px;
  margin-right: 4rem;
}

/* Mobile */
@media screen and (max-width: 1000px) {
  /* .armarios_size{
    flex-direction: column;
    align-items: center;
  } */
  .armarios_column{
    text-align: center;
  }  
  .icons_size{
    width: 50%;
  }
}