*{
  margin: 0;
  padding: 0;
}
:root {    
  --color1-wt: #FFFFFF;
  --color2-bk: #000000;
  --color3-bl: #005B7A;
}
/* font-family: 'Playfair Display', serif; */

/* font-family: 'Ubuntu', sans-serif; */

/* font: font-style font-variant font-weight font-size/line-height font-family; */
.margin_header{
  margin-top: 2rem;
}
.square_blue{
  background-color: var(--color3-bl);
  position: relative;
  width: 48.1rem;
  height: 39.3rem;
  margin: 10.3rem 0 0 0;
}
.titulo{
  position: relative;
  font: normal normal normal 55px/70px Playfair Display;
  letter-spacing: 0px;
  color: var(--color1-wt);
  text-align: left;
  width: 80%; 
  top: 6.62rem;
  left: 8.5rem;
}
.text_paragraph{
  color: #fff;
  font-size: 25px;
  font-family: 'Ubuntu', sans-serif;
  text-align: left;
  font: normal normal normal 25px;
  letter-spacing: 0px;
  position: relative;
  width: 80%; 
  top: 7.62rem;
  left: 8.5rem;
}
.linha_vertical{
  position: relative;
  top: 8.62rem;
  left: 8.5rem;
  height: 75px;
  border-left: 2px solid var(--color1-wt);
}
.converse_c{
  position: relative;
  top: 10.62rem;
  left: 8.5rem;
  color: #fff;
  text-align: left;
  font-weight: bold;
  letter-spacing: 4px;
}
.tittle_text{ 
  text-align: center;
  font: normal normal bold 40px/45px Playfair Display;
  letter-spacing: 0px;
}
.p_text{
  text-align: center;
  margin: auto;
  width: 35%; 
  font: normal normal normal 20px/35px Ubuntu;
  letter-spacing: 0px;  
}
.armarios_{
  width: 400px;
}
.largura_minima{
  min-width: 14rem;
  background-color: blue;
}
.img_responsive{
  width: 100%;
}
.veja_mais{
  font: normal normal bold 20px/45px Ubuntu;
  letter-spacing: 4px;
}
.titulos{  
  font: normal normal bold 40px/45px Playfair Display;
  letter-spacing: 0px;
}
.paragrafos{
  font: normal normal normal 20px/35px Ubuntu;
  letter-spacing: 0px;
  text-align: center;
  margin: 0 auto;
  width: 32%;
}
.margin_text{
  margin-left: 18rem;
}
.converse_com_agente{
  font: normal normal bold 40px/45px Playfair Display;
}
.ficou_interessado{
  font: normal normal normal 20px/35px Ubuntu;
}

/* Quadrado azul */
.square_blue_buttons{
  width: 5rem;
  height: 5rem;
  background-color: var(--color3-bl);
}

.icons_filter{
  filter: invert(1);
}





/* Mobile */

@media screen and (max-width: 900px) {
  .armarios_size{
    flex-direction: column;
    align-items: center;
  }
  .armarios_column{
    text-align: center;
  }
  .figure > img{
    margin-top: 3rem;
  }
  .icons_size_direction{
    text-align: center;
  }
}