* {
    margin: 0;
    padding: 0;
}

:root {
    --color1-wt: #FFFFFF;
    --color2-bk: #000000;
    --color3-bl: #005B7A;
}

/* .title_default{
    font-family: 'Playfair Display';
}
.paragraph_default{
    font-family: 'Ubuntu';
} */
.text_retangulo {
    font: normal normal normal 55px/70px Playfair Display;
    letter-spacing: 0px;
    color: var(--color1-wt);
}

.retangulo {
    height: 12.5rem;
    background-color: var(--color3-bl);
}

.page-link {
    width: 3rem;
    margin-left: 10px !important;
}

.pagination {
    --bs-pagination-font-size: 1rem;
    --bs-pagination-color: var(--color2-bk) !important;
    --bs-pagination-hover-color: var(--color1-wt) !important;
    --bs-pagination-focus-color: var(--color1-wt) !important;
    --bs-pagination-hover-bg: var(--color3-bl) !important;
    --bs-pagination-focus-bg: var(--color3-bl) !important;
    --bs-pagination-focus-box-shadow: none !important;
    --bs-pagination-border-width: 2px !important;
    --bs-pagination-border-radius: 2px !important;
    --bs-pagination-border-color: black !important;
    --bs-pagination-active-border-color: !important;
    --bs-pagination-hover-border-color: var(--color3-bl) !important;
}
@media (max-width: 414px) {
    .text_retangulo{
        font-size: 40px;
    }
    .retangulo{
        height: 6rem;
    }
}