*{
    margin: 0;
    padding: 0;
  }
  :root {    
    --color1-wt: #FFFFFF;
    --color2-bk: #000000;
    --color3-bl: #005B7A;
}

.ft_title_quemsomos{
    font: normal normal bold 40px/45px Playfair Display;
    letter-spacing: 0px;
    padding: 0 5rem !important;
}
.ft_text_quemsomos{
    font: normal normal normal 20px/35px Ubuntu;
    letter-spacing: 0px;
    padding: 2rem 5rem !important;
}
.img-fluid{
    min-width: 400px !important;
    padding: 0 4rem !important;
}
.box_whatsapp_2{
    background-color: #25D366;
    margin-right: 4rem;
    border-radius: 50%;
    padding: 18px;
    position: static;
    margin-top: 6rem;
}
@media (max-width: 1610px){
    .box_whatsapp_2{
        margin-top: 2rem;
        padding: 10px;
    }
    .box_whatsapp_2 img{
        width: 34px;
    }
    .ft_text_quemsomos{
        margin-top: 1rem;
        text-align: justify;
        padding: 0 2rem !important;
    }  
    .ft_title_quemsomos{
        padding: 0 2.5rem !important;
    }
}
@media (max-width: 414px){
    .ft_text_quemsomos{
        margin-left: 20px !important;
        padding: 0 0rem !important;
    }  
    .ft_title_quemsomos{
        margin-left: 20px !important;        
        padding: 0 0.5rem !important;
    }
    .text_retangulo{
        font-size: 40px;
    }
    .retangulo{
        height: 6rem;
    }
    .box_whatsapp_2{
        margin-top: 2rem;
        margin-right: -0.8rem;
    }    
}