*{
    margin: 0;
    padding: 0;
  }
  :root {    
    --color1-wt: #FFFFFF;
    --color2-bk: #000000;
    --color3-bl: #005B7A;
}
.title_quemsomos{
    font: normal normal bold 40px/45px Playfair Display;
    letter-spacing: 0px;
    padding: 0 5rem !important;
}
.paragraph_quemsomos{
    font: normal normal normal 20px/35px Ubuntu;
    letter-spacing: 0px;
    padding: 2rem 5rem !important;
}

.img-fluid{
    min-width: 400px !important;
    padding: 0 4rem !important;
}
